<p>
	<%= comment.votes %>
  <%= link_to comment.content, comment_url(comment.id) %>
	<%= button_to "Upvote", upvote_comment_url(comment) %>
	<%= button_to "Downvote", downvote_comment_url(comment) %>
</p>

<ul>
  <% comments_by_parent[comment.id].each do |child_comment| %>
    <li><%= render("comments/comment",
            comment: child_comment,
            comments_by_parent: comments_by_parent) %></li>
  <% end %>
</ul>
